<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <div class="weather-data">
      <div class="location">{{ weatherData.location.city }}</div>
      <div class="temperature">{{ (weatherData.forecasts[0].high - 32) * 5/9 | number: '1.0-0'}}°C</div>
    </div>
  </div>
</div>

<div class="weatherNext" *ngFor="let day of weatherData.forecasts; let i = index">
  <div>{{weatherData.forecasts[i].day}}</div>
  <div>{{(weatherData.forecasts[i].high - 32) * 5/9 | number: '1.0-0'}}°C</div>
</div>
